@media screen and (max-width: 1200px) {
  .heading h1 {
    font-size: 3ch;
  }

  .game-intro {
    min-height: 80vh;
  }

  .game-intro .container h1 {
    font-size: 4ch;
  }

  .main-container .game-container h2 {
    font-size: 3ch;
  }

  .main-container .game-container h2 {
    font-size: 2ch;
  }

  .main-container .game-container p {
    font-family: "Josefin Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.856);
    padding: 0.5rem;
    color: red;
    text-align: center;
    margin: 1rem;
    border-radius: 0.5rem;
  }

  .main-container .game-container .game-box {
    width: 90%;
    height: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-container .game-container .game-box > div {
    width: 100%;
    height: 115.328px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5ch;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-container .container h1 {
    font-size: 3ch;
  }

  footer p {
    padding: 0 1rem;
    font-size: 1.2ch;
  }
}
