/* ---------- BASIC STYLES ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  background-color: #50206c;
}

.hide {
  display: none;
}

/* ---------- OPENING PAGE STYLES ------------ */
.game-intro {
  min-height: 90vh;
  text-align: center;
}

.game-intro .container {
  width: 90%;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-intro .container h1 {
  font-family: "Dela Gothic One", cursive;
  color: #ffe3dc;
  font-size: 6ch;
}

.game-intro .container button {
  margin-top: 2rem;
  background: #f18805;
  border: none;
  padding: 1rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4ch;
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in-out;
}

.game-intro .container button:hover {
  background-color: #f0a202;
  transform: translateY(-5%);
}

/* ---------- GAME STARTED HEADING ------------ */

.heading {
  text-align: center;
  padding: 1rem 0;
}

.heading h1 {
  font-family: "Dela Gothic One", cursive;
  color: #f18805;
  font-size: 3ch;
}

/* -------------- MAIN GAME AREA ------------- */

.main-container {
  min-height: 79vh;
}

.main-container .game-container h2 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 6ch;
  margin-top: 0.5rem;
}

.main-container .game-container p {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 1rem 0;
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.main-container .game-container .game-box {
  min-height: 70vh;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-container .game-container .game-box > div {
  width: 100%;
  height: 219.625px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15ch;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- GAME WINNER STYLES ------------ */
.winner-container {
  min-height: 90vh;
}

.winner-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.winner-container .container h1 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 10ch;
}

.winner-container .container button {
  margin-top: 2rem;
  background: #f18805;
  border: none;
  padding: 1rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4ch;
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in-out;
}

.winner-container .container button:hover {
  background-color: #f0a202;
  transform: translateY(-5%);
}

/* ---------- FOOTER STYLES ------------ */
footer {
  font-family: "Josefin Sans", sans-serif;
  min-height: 10vh;
  text-align: center;
  padding: 2.3rem 0;
  color: white;
}

footer p {
  font-size: 1.5ch;
}

@media screen and (max-width: 1200px) {
  .game-intro {
    min-height: 80vh;
  }

  .game-intro .container h1 {
    font-size: 4ch;
  }

  .main-container .game-container h2 {
    font-size: 3ch;
  }

  .main-container .game-container h2 {
    font-size: 2ch;
  }

  .main-container .game-container .game-box {
    width: 90%;
  }

  .main-container .game-container .game-box > div {
    height: 148px;
    font-size: 6ch;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .winner-container .container h1 {
    font-size: 4ch;
  }

  footer p {
    padding: 0 1rem;
    font-size: 1.2ch;
  }
}
